@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#titleCart {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    text-align: center;
}

#tableContent {
    margin-left: 120px;
}

#text-title {
    font-size: 20px;
}

#text-content {
    font-size: 20px;
}

#btnPay {
    margin-top: 40px;
}
