<mat-card class="mt-5 mb-5">
  <mat-card-header class="row">
    <div class="col-12">
      <mat-card-title class="text-center">Games</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
        <td mat-cell *matCellDef="let element">{{ element.image }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="primary"
            (click)="addToCart(element)"
          >
            Add to cart
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="viewGame(element)"
          >
            View Game
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25]"
      showFirstLastButtons
      arial-label="Page navigation"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
