@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#titleGame {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  text-align: center;
}

#cardGame {
  border-radius: 12px;
}
