<mat-card class="mt-5 mb-5">
  <mat-card-header class="row">
    <div class="col-12">
      <mat-card-title class="text-center" id="titleGame">Games</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
    <!--
      <mat-card
    class="col-12"
    *ngFor="let game of games"
    >
      <mat-card-header class="row">
        <div class="col">
          <mat-card-title>{{game.name}}</mat-card-title>
          <mat-card-subtitle>{{game.genre}}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <img mat-card-image src="{{game.image}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{game.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
            mat-raised-button
            color="primary"
            (click)="addToCart()"
          >
            Add to cart
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="viewGame()"
          >
            View Game
          </button>
      </mat-card-actions>
    </mat-card>
    -->
  </mat-card-content>
</mat-card>
