<mat-card class="mt-5 mb-5">
  <mat-card-header class="row">

    <div class="col-2">
      <mat-card-title>Imagen aqui
        Imagen aqui
        Imagen aqui
        Imagen aqui
        Imagen aqui
        Imagen aqui
        Imagen aqui
        Imagen aqui
        Imagen aqui
      </mat-card-title>
    </div>
    <div class="col-10">
      <h2>Dead By Daylight</h2>
      <p>
        No recuerdo las veces que intenté jugar a Dead by Daylight aprovechando algún "finde gratis", pero sé que fueron muchas y en todos los casos se me acabaron pasando por despiste. Hasta que hace días saltó por sorpresa un nuevo DLC... sobre Silent Hill para junio y procedí a instalar el juego con Xbox Game Pass.
      </p>

      <h3>Argumento</h3>
      <p>
        Es curioso, porque Dead by Daylight tuvo una recepción bastante tibia al principio por parte de la crítica, en parte por no contar con fichajes de relumbrón al principio que tapasen un poco sus carencias a nivel jugable. Porque esta clase de juegos no son perfectos, es algo unánime que no para de repetirse año tras año, pero saben cómo picarte y divertirte para que les acabes perdonando sus fallos.
      </p>

      <h3>Un contenido que no para de crecer con DLC</h3>
      <p>
        Dead by Daylight, como sucede con otros juegos de su estilo, varía ostensiblemente si somos del bando de los supervivientes o controlamos al asesino. Para empezar, los supervivientes cuentan con una vista en tercera persona, mientras que el asesino lo hace en primera. Es más, este último no puede morir, al contrario que el reciente Predator: Hunting Grounds de Illfonic.

        Que un bando gane o pierda depende de los generadores o del propio Ente si llegamos al estado "Acabemos con esto". Los que tienen todas las de perder (sobre el papel) son los supervivientes, porque para ganar necesitan activar cinco generadores y de ese modo salir por una de las dos puertas que se abren a continuación. Pero claro, este tipo de acciones, o los fallos en las pruebas de habilidad con Quick-Time Events, alertan al asesino de su presencia. Porque aquí no podemos consultar un mapa como tal, sino valernos de las pistas sonoras o visuales que nos vayamos encontrando a la hora de explorar con el asesino.

      </p>

    </div>



    <mat-card class="mt-5 mb-5">
      <div class="col">
        <mat-card-title>Agregue su comentario</mat-card-title>
        <br>
      </div>
      <div class="col text-end">
        <button
          mat-mini-fab
          color="accent"
          aria-label="Open register review"
          (click)="openDialog('0ms', '0ms')"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-card-header>

</mat-card>
