<mat-card class="mt-5 mb-5">
  <mat-card-header class="row">

    <div class="col-2">
      <mat-card-title>Imagen aqui
        Imagen aqui
        Imagen aqui
        Imagen aqui
        Imagen aqui
        Imagen aqui
        Imagen aqui
        Imagen aqui
        Imagen aqui
      </mat-card-title>
    </div>
    <div class="col-10">
      <h2>Minecraft</h2>
      <p>
        La versión física de Minecraft llegó a nuestras oficinas y en un ejercicio tardío, pero necesario, decidimos reseñarlo. Pocos títulos en la historia han escalado hasta convertirse en un fenómeno global; Minecraft está presente en prácticamente todas las plataformas, ha vendido aproximadamente 50 millones de copias y recientemente fue adquirido por Microsoft en $2.5 mil MDD. Podríamos hablar de él como producto, pues es imposible ignorar su impacto, pero lo que aquí nos compete es el juego, en específico, la versión para PlayStation 4.
      </p>

      <h3>Argumento</h3>
      <p>
        El mundo se ha generado y a tu alrededor todo es desconocido, no importa cuántas veces hayas jugado, si creaste un nuevo mundo, no sabes dónde estás, es hora de prepararse porque durante la noche todo se vuelve peligroso. Comienzas por talar un árbol y construir herramientas y el refugio que te ayudarán a sobrevivir esa larga primera noche en la que tus recursos son escasos y apenas puedes ubicar el lugar donde te encuentras; tal vez no recuerdes cuántos mundos has creado, cuántos proyectos has abandonado o cuántas veces derrotaste al Ender Dragon, pero nunca olvidarás tu primera noche en Minecraft.
        Al llegar la mañana aún hay algunos monstruos, en tu mano sostienes una pala de madera con stats a la mitad y tu refugio fue destruido por un creeper que te atacó por la espalda, ahora estás listo para enfrentar al elemento más abrumador del juego: las posibilidades. Puedes construir la torre Eiffel con cubos de acero que obtendrás minando durante días o viajar al Nether y reunir lo necesario para crear un jefe y derrotarlo o simplemente, ser un nómada que viaje por el mundo explorando cuevas y escalando montañas; nadie te obliga a nada, sólo tú y tu ambición.

      </p>

      <h3>Sistema de juego</h3>
      <p>
        En gran medida, la popularidad del juego proviene de su primera versión para consolas; la de Xbox 360, desarrollada por 4J Studios, implementó el sistema de menús para el crafting, y a diferencia de la de PC, no es necesario ordenar ―y recordar― los elementos de la mesa para crear un objeto, basta con tener el material necesario en tu inventario para construirlo. Este sistema y toda la configuración de controles se mantiene en la versión para PlayStation 4, salvo que en ésta se puede utilizar el cursor de los menús utilizando el panel táctil del DualShock 4, aunque eso es impráctico debido a que obtienes el mismo resultado si usas el stick izquierdo.
      </p>

    </div>



    <mat-card class="mt-5 mb-5">
      <div class="col">
        <mat-card-title>Agregue su comentario</mat-card-title>
        <br>
      </div>
      <div class="col text-end">
        <button
          mat-mini-fab
          color="accent"
          aria-label="Open register review"
          (click)="openDialog('0ms', '0ms')"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-card-header>

</mat-card>
