@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#titleReview {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}

#divTitle {
    margin-top: 40px;
}