<!-- Headeer -->
<header>
  <a href="index.html" class="logo">Capybara's Games</a>
  <ul class="nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Games</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <div class="action">
    <div class="searchBx">
      <a href=""><i class='bx bx-search'></i></a>
      <input type="search " placeholder="Buscar Juegos" id="inputBusqueda">
    </div>
  </div>
  <div class="menu">
<span class="material-symbols-outlined">
logout
</span>
  </div>
</header>
<main-cart></main-cart>
